[2022-03-20 14:54] kirchsth commented on #215
Hi @oliv3r and @Potherca,

fixed it with #217. You can test it via my extended branch.

BR Helmut

[2022-03-20 15:00] kirchsth commented on #200
@Potherca,
what is your planed enhancement in this area?
BR Helmut

[2022-03-21 09:14] Potherca commented on #200
Unless someone has a concrete suggestion, I don't see any hard need for changing / adding anything for this, as both @romkavt and @vitalyzhakov's use-cases seem to be covered using existing features...

[2022-03-21 18:28] kirchsth commented on #200
Ok thanks, I remove the enhancement and not-stale labels

[2022-03-21 18:29] #215 closed

[2022-03-21 18:53] kirchsth commented on #205
Hi @acristu, did an update help?
BR Helmut

[2022-03-22 13:45] acristu commented on #205
Hi @kirchsth ,

It seems this setting does the trick even with our current older version `skinparam ranksep 1`.

Thanks, the issue is fixed for me.

[2022-03-22 13:45] #205 closed

[2022-03-25 19:41] huyz commented on #119
Anyone know how to make a link open in a new browser tab?

[2022-04-06 18:18] kirchsth opened #219 "documentation of image (img:) support is missing"
PR #173 added image support to the sprites (via img: prefix). Related documentation in readme.md is missing.

[code]

![](https://www.plantuml.com/plantuml/png/bP5FQyCm3CNl-HIPwI65DjdeJeL0IrQsGxQEj6F7uYR2DJXsi1IsClRT9nUoFumUUhAH_7jwJruWIKzzQw8hRMlJDn0VY3gSPvcNRwdITEZtFOAldIMmbDQkpJeZRM2cI8tH-woudJw7qijZcRKI2JoNTWKJKblmQHVqesNJL62sKYLY412JU4JmJeKppkTYjAogzUkkM9VhAhGCqsTQs7bDa0lTgdamp7u7qPD5uvIRfPrL

[2022-04-10 13:45] #219 closed

[2022-04-12 14:48] Potherca opened #221 "Split documentation into separate files"
Currently, the project `README` files consists of more than 800 lines.

Most of those are usage instructions. It might be of benefit to users if the README file was split into separate documentation files.

[2022-04-17 12:05] kirchsth opened #222 "Based on PlantUML changes/bug, spaces in stereotype/tag names are not working anymore. Sample updates are required"
[code]

![](https://www.plantuml.com/plantuml/png/fP1FJ_904CRl_HJpzYMnJPeG1MvYm4BqW6WYXYEPTeTbmxABkrE5R-ysQ9M8NZosiy-VvpVmZ8whZOx-ALFgIX1SvjrstbtarZ0gG-ugYixW6Zq9i0OUD1f-kfj0kK8ZoRUBIcRWjrYI1sN0CpcolD-6puHH-XJG4HZBy6hTMXa9QFORwoWQ2j64p50cSO7bceo0vc-SGQkGkTNMzUF_dKvlDEp5QTJSatV5HGRnNF7gqEEuHfjHnk4-ik6fE_Qk-_LFnARrvDhGLlonxVImPbGGgELdlYPPMoeFZfuhvKXae1XAD50Gq6whLQbOxq7GCaGAU548hODgHZk67-dy3YVxQd9wsZ

[2022-04-18 09:51] #222 closed

[2022-04-23 00:39] dannief opened #224 "$shadowing parameter of AddContainerTag no longer has any effect in current version of PlantUML Server (1.2022.4)"
See example below:

[code]

![example](https://www.plantuml.com/plantuml/png/PSv1ImCn40NW-_wA63oqiDrS145SQQb5aLQ5LdjSfibq6yWc8Pbq-_FD5beHhs_utfjf90YKEbFSQ2jDKiWEH3u-216WhrfDXxHB4ODqbj1I9Lqdl04xc4aaPVHEpEycdqFqjLgA3Y9Xo54ppmAqnL3vF_sFRh_N4iKQmn535E2zqH98Ezl4S_PK53Ebhdu3xOZtk9jvpqjs6ttGX3N_xuQhmHQjsk29wi4my9x9IzEP7q2vNjksvXGIyd5HN9T6MJHPb8nlivtzBcJ9t-089Llxa35RVSzBjd5TFhFxwZGq4xInlZoQQzUl7zjckNXPl3-

[2022-04-23 12:48] kirchsth commented on #224
Hi @dannief

I entered a bug in [forum](https://forum.plantuml.net/15879/skinparam-shadowing-true-not-working-anymore).
Typically it is fast fixed (In the last months they did a lot of style changes/improvements)

I will inform you as soon it is fixed.

BR Helmut

[2022-04-26 13:56] romkavt commented on #200
Thanks for suggestions!
We are using PlantUML embedded into Asciidoctor documents as SVG image.
The quick fix solution is: add the
`g a {
    text-decoration: none;
}`
to the CSS stylesheet for asciidoctor document.

But, let's look deep in the code, for exxample https://github.com/plantuml-stdlib/C4-PlantUML/blob/master/C4_Context.puml#L253
`!unquoted procedure System($alias, $label, $descr="", $

[2022-04-26 14:07] romkavt commented on #200
As mentioned in original topic, I have to found the solution how to classify tech systems.
I've found the solution. That's the example case.

First, the C4 notation follows systems theory and this is great!
The whole system has been divided to a couple of functional contexts, mostly by end-user products.
The tech component schemes inside functional context uses blue symbols for tech components ins

[2022-04-27 10:44] #208 closed

[2022-05-04 17:55] kirchsth commented on #224
Hi @dannief,

it is fixed by the plantuml team. With the next plantuml release it should work like before

[code]
![](https://www.plantuml.com/plantuml/png/hP5HQ_8m58Rl-oloXU_2Gcrl1eEn3gMJZQ5kK3SlIzgSna2QXEJK-lFNRaEHEK7mBdcJyppapSGZSzWsAlWdTQLQ3cI3QFrTaZZMnKBYfYrR3wuo6a5ZN9aciOhfOMRiaIjP9jdD-6s8tXVpf64UmVLHaHcDJ6fmiJtYtvkwbXKaERWjE9ymQvMi64gZ2_-LFGJ1bFFz_8g94UsWd5gRRnWt7Ot8_r9aHXcNKWTys7lh949AVzE6

[2022-05-16 19:42] clickwithclark opened #225 "Windows User, Problem getting CLI to work"
![image](https://user-images.githubusercontent.com/20617584/168669314-b3efb7e7-0e05-46cf-9bff-ef19d366d05f.png)

## I also tried using the vs code extension but I see it broken
also, I am aware this is for C4 modelling specifically but I cant seem to get even the basic implementation working.
Thanks for you time

![image](https://user-images.githubusercontent.com/20617584/168669457-aab27155-1f72-4

[2022-05-17 10:15] Potherca commented on #225
Hi! Sorry to hear PlantUML is giving you trouble.

As this issue is not specific to this project but related to generic PlantMUL usage, I'm not sure how much we'll be able to help...  :disappointed:

If I look at the CLI output, the line

would indicate that (for whatever reason) PlantUML does not have the access rights needed to output the PNG to disk (i.e. write the `sequenceDiagram.png` file).

[2022-05-17 20:01] clickwithclark commented on #225
I have good news, it turns out, it was the plantuml.jar that is the problem, what is weird is I downloaded it from the official website. I opened an issue on their repo explaining my findings [there.](https://github.com/plantuml/plantuml/issues/1019#issue-1239095253) Thanks a lot for your time helping!

[2022-05-17 20:01] #225 closed

[2022-05-24 20:43] #224 closed

[2022-05-30 06:15] scmay opened #226 "Preview file not working in Visual Studio Code"
Installed PlantUML via Chocolatey (latest version)
Opening an existing diagram throws this error. C4.puml has been identical with github version.
Dumping file contents into online server generates the file preview, so I am not sure why this is not working for Visual Studio Code.
![previewFail](https://user-images.githubusercontent.com/22205985/170928627-18f2e3eb-241a-4dbd-8fbe-a3af3cb38228.png)

C

[2022-06-01 06:16] scmay commented on #226
I solved it in the end. Uninstall/reinstall VSCode, uninstall/reinstall PlantUML extension on VSCode, clean out the settings file.

Though when I add Yog PlantUML Highlight extension that error returned, so I had to redo the steps again.

[2022-06-01 09:04] Potherca commented on #226
Good to hear you got things working!

(Closing issue as resolved)

[2022-06-04 17:39] vellala2000 opened #227 "Ability to add styles for System_Boundary, Container_Boundary"
Add support to style System_Boundary, Container_Boundary

[2022-06-27 09:39] dirkgroot opened #228 "Person_Ext with tag "Person" rendered like an internal person, is this intentional?"
I'm using [Structurizr exporters](https://github.com/structurizr/export) to generate PlantUML files. When generating PUML for external persons, this library uses the `Person` tag. For example: `Person_Ext(person, "Some person", $tags="Person")`. However, when declaring an external person like this, it is rendered like an internal person (see below for an example).

Is this a bug, or is this intend

[2022-06-27 23:32] kirchsth commented on #228
Hi @dirkgroot,

 It depends ...
a) In C4-PlantUML context is it correct (see README `tags can be added to the existing element stereotypes (component, ...) and highlight,... specific aspects:`). And it contains no tag definitions and therefore it cannot be displayed (working sample see below).

b) related to [Structurizr exporters](https://github.com/structurizr/export) I think it should be extend

[2022-06-28 07:09] dirkgroot commented on #228
Hi @kirchsth, thanks for your detailed answer!

From what I understand now, I think there's a little bit of a mismatch between Structurizr and C4-PlantUML when it comes to how tags are used.

Structurizr assigns default tags to each model element. See https://structurizr.com/help/notation#tags. As you can see, Structurizr assigns the `Person` tag to all person elements, regardless of their locatio

[2022-07-04 05:50] #228 closed

[2022-07-04 09:52] H3llK33p3r commented on #63
Hi, am I the only one that the import of the Intellij live templates is not working ? After the restart I haven't the templates and cannot find in my IDE settings. Moreover, why the template are in other section and not plantuml section (reading the xml in the zip) ?

[2022-07-07 06:39] #200 closed

[2022-07-08 02:49] featheryus opened #229 "the relation line between boundary seems a little strange"
The line to the right, but starting from the left side

[2022-07-08 02:56] featheryus commented on #229
The line to the right, but starting from the left side

[2022-07-08 12:40] Potherca commented on #229
@featheryus Could you post an example to help illustrate what you mean?

(I moved your comment into the issue description, hope you don't mind)

[2022-07-31 01:52] takumade opened #230 "Show/Hide Container or Click to Expand"
Is there an option to expand and collapse container or I am dreaming

1. Expand shows all the components
2. Collapse hides all the components
3.
Been searching for that and I cant find that anywhere

[2022-07-31 10:37] Potherca commented on #230
Not sure if this is what you mean, but as described in [the "Hide attributes, methods..." section of the PlantUML Class Diagram manual](https://plantuml.com/class-diagram), the `hide` attribute allows hiding elements.

As C4 PlantUML adds "stereotypes" (which look like `<<foo>>`) to elements, these can be used to hide elements of a specific type.

The following elements could be hidden:

- `<<boun

[2022-08-10 08:47] Potherca commented on #227
## Styling all boundaries

The style of _all_ boundaries can already be changed by using `skinparam` and the `<<boundary>>` stereotype:

<table><tr><td>

[code]
</td><td>

[![](https://www.plantuml.com/plantuml/png/NOz1YeGm44NtTOeQPwCmC0ou5163Ni03I4mA2SPagCI5DDwzjMdiRhV_lV-fgaAK79VPmfTnoYwQi13vhyXxuLsKnX6N064oxb-od959HUb6IqKn-CLfoMjPuWqGQwccaOzCUEiPlzkcRKHp4C-Qk8kh9GpU6WqRGBU6I7DVFqVICFnWSWcJxB5yN

[2022-08-14 22:13] kirchsth commented on #227
I checked the current implementation and $tags are basically supported via the AddElementTag() too (incl. legend support)
there are only few limitations

1. no sprites are displayed (node specific, not supported at all)
2. added $tags are not displayed as part of the type, e.g., `special system boundaries`  has fix `[System]`
3. missing AddEnterproseBoundaryTag(), AddSystemBoundaryTag(), AddContai

[2022-08-16 09:29] Potherca commented on #227
For the sake of consistency (or [principle of least surprise](https://en.wikipedia.org/wiki/Principle_of_least_astonishment), I think that would be a Good Idea:tm:

Agreed.

As usual, I think you got it [spot-on](https://www.wordnik.com/words/spot-on).

[2022-08-19 23:42] kirchsth commented on #227
Hi @Potherca and @vellala2000
I added a better style support for border tags, can you please review my PR #231
Thank you and best regards
Helmut

[2022-08-21 13:50] kirchsth opened #232 "Should we reduce legend text width with line, border style symbols (instead of text)?"
Atm we have a lot of different line, border and shape styles and the legend text can be very wide like below

![](https://www.plantuml.com/plantuml/png/pLTTRziu5dtNhxZrT50RSEn9qwQ31GACRClJ3FpXjPns1ek5GOlN4b6Ar9AK4sCn_tr9VPYnqq5tT_PXzP2OvtwSe-ChYlv96w9CcVFW3IHI750PO0OUcSc0KCeCau9m6yfp8YXm9X28IiiSXO6hoJgQXPlxJz7sVZ6UFKoYkywW0qP2gH6uJ0Zdn-0LsyFt1w8OsN7SuXFJHdSxbvMTNW3mYec4bnHXC1mCXkDtsx4KXbXEDIYSnbV8

[2022-08-21 15:49] Potherca commented on #232
Usually I am not a big fan of replacing information with symbols. It might be clear to the author of the diagram but most likely not to other people.

Before I can really comment, I would need to better understand why it is an issue that the legend can become rather wide...

Looking only at the legend:

![](http://www.plantuml.com/plantuml/png/fPFVQy8m4CVV-rS4VAcTOB7-SAC4jTAdlUvvdCsXnNgH9385__YrCG

[2022-08-21 18:16] #227 closed

[2022-08-21 22:20] kirchsth commented on #232
I like the idea with the smaller size.

I could make following changes:

1. The user can define the legend text without the additional information via a new **$label=...** parameter of the `Add...Tag()`/`Update..Style()` calls (as an alternative to $legendText).

And if $label is defined then it will be combined with the (calculated) additional  information.
This has the advantage that no (calcula

[2022-08-22 07:45] pascalbrunner opened #233 "How to hide/ modify box info text?"
Hi together,

if I have a system like:
System(test, "Hello")

How can I hide or modify "<<system>>" that is shown in the box?
Using ElementTags would enlarge it to something like "<<text>><<system>>"

Thank you for your help!

[2022-08-22 07:49] kirchsth commented on #233
You can use `HIDE_STEREOTYPE()`
BR Helmut

[2022-08-22 07:53] pascalbrunner commented on #233
Thank you for the fast reply!

[2022-08-26 11:03] Potherca commented on #232
Sounds good.

Also good.

Also good.

Naming a thing is always a bit tricky.

What does the parameter do or represents to a user? :thinking:

It doesn't really have to do with "style" as much as information representation. It gives the user an option to change how secondary information is display in the legend. `$legendSecondaryInformationDisplayMethod` is a bit verbose but it also doesn't fell "r

[2022-08-31 11:58] jhueppauff opened #234 "Is there an option to increase the space between connector lines?"
Hi,

I am facing a bit of a visibility issue with a quite complex diagram.
Long story short, there are many connections between shapes in different boundaries resulting in multiple lines overlapping which is hard to understand the diagram
<img width="383" alt="image" src="https://user-images.githubusercontent.com/20532954/187673083-9ac78552-2961-4f6a-9d5b-1bdd2e5c3065.png">

If I use ```skinparam

[2022-08-31 12:20] miriamgreis commented on #229
I have a similar problem. As soon as I introduce lines to a boundary, no matter what type of boundary, the diagram start looking not that nice.

So here is an example:
<img width="539" alt="image" src="https://user-images.githubusercontent.com/36954592/187676204-7ec9af8f-a5e8-467e-834a-7333ab8cc09c.png">

[code]

I don't understand why the line from System to A is so strangely placed and also why

[2022-08-31 13:53] Potherca commented on #229
Thank you for posting an example @miriamgreis, that gives us something to work with!

Lets try to answer your questions...

### Why is the line from `System` to `A` placed as it is?

By default, PlantUML aligns things _implicitly_ (trying horizontally first and vertically second), which can give weird or undesirable results.

To change the layout, this project provides methods to set a direction _

[2022-09-01 09:39] Potherca commented on #234
At first glance, this problem looks similar to that of #153 . The solution there was to use Lay_Distance:

[code]

@jhueppauff Could you try using `Lay_Distance` to see if that helps for your scenario?

[2022-09-01 13:03] Potherca commented on #63
@H3llK33p3r Apologies for my slow response, I monitor comments less strictly than (new) issues.

Regarding your problem, I tried importing the live templates (zip file) and failed. After some researching, I found the source for the failure in my setup.

According to the [Jetbrains documentation about sharing live templates](https://www.jetbrains.com/help/idea/sharing-live-templates.html), what hap

[2022-09-09 18:03] DarwinJS opened #236 "Control Ordering Of Multiple Relationships Between Same Elements"
In the attached I cannot control the sequencing of the three connection types so that they go in the order SSL, Token Auth, Control.

Is there a way to do it?

![image](https://user-images.githubusercontent.com/11597190/189415673-e7a3a32e-2555-4732-aa79-a0a3316a36db.png)

[code]

[2022-09-12 18:35] DarwinJS opened #237 "Rel_ and Lay_ are not adhered to."
I posted this screenshot and the source 3 days ago: https://github.com/plantuml-stdlib/C4-PlantUML/issues/236

And now it is rendering like this - no matter what I do with Rel_ and Lay_ - I can't get back to the expected rendering depicted in that issue.

![image](https://user-images.githubusercontent.com/11597190/189730189-02f4b5e6-e5a3-401f-babf-3b3261b071f1.png)

<details><summary>Source</summa

[2022-09-13 07:29] Potherca commented on #237
I've run the example against the last couple of version of PlantUML and C4-PlantUML and I keep getting the above image. I have not been able to reproduce the image from #236.

Was the original image created with a distributed JAR or on the online server?

<details><summary>Tests</summary>

## PlantUML versions

- **1.2021.1** ![test 2021 1](https://user-images.githubusercontent.com/195757/18983777

[2022-09-13 07:31] Potherca commented on #236
I've not come across a way to influence the order that links are shown in, but I could look some more... @kirchsth Do you know if sucj a thing exists?

A possible solution _might_ be to use a sub-graph, but I'd have to do some experiments to come up with an example.

[2022-09-14 08:55] Potherca commented on #237
No worries, I do a lot of PlantUML development, so I already have a local test setup. I just throw the `.puml` file into my setup and the rest goes automagically. Something I hope to add soonish is a visual diff so my test setup can tell me when a change (such as you noted) can be automatically found.

speaking of which, when i run Kroki with this:

[code]

I get:

![](https://kroki.io/plantuml/pn

[2022-09-14 10:30] DarwinJS commented on #237
I guess the more important detail is that the rendering I am getting directly from plantuml does not follow what is in my file. It blatantly ignores both directional Lay_ and Rel_ to put GitLab Runner on the entirely wrong side of the chart.

I have tried reordering the directional directives, reversing them, trying them on top level objects rather than most enclosed, I've tried rotation layouts a

[2022-09-14 17:28] rodverap opened #238 "spanish translation"
It is posible to have a spanish translation of stereotipes names, person, enterprise, system, boundary, etc?

I have identified SetDefaultLegendEntries but I really dont know how to make changes

[2022-09-17 08:51] kirchsth commented on #238
Hi @rodverap,

I would change the stereotypes itself. I would hide the stereotypes and show a translated legend
Another simple solution could be that you hide the stereotype (if you don't want to show a legend)

[code]

![](https://www.plantuml.com/plantuml/png/bPB1Yjim54Nt_WhLPE61JCn0LuM1cJfgMd3iO3kKhenilpe2MJQIJ9kFwggVa1_hKvIu96r2kp7etNUlZYzwqOOfCtR2UyDbBSO6oCwOGRyBGyM-BLfkTcCrQb1rBmr8iwZxBXm4az

[2022-09-17 20:45] kirchsth commented on #236
Hi @DarwinJS,

I have no final solution to change the order of the lines, but if you want to have a specific sequence then you can use a C4_Dynamic diagram and all calls are automatically numbered like below

[code]

![](https://www.plantuml.com/plantuml/png/bPJTRi9648Nl_HHJ53LOIa2LgZQgX1HYQ4hZ_1GJfNTei0UpOhrBTsTBUFlksWc5c2ZA3Jz7Cv_dp1cujeo6NIMZSnZj55OY1ynP_8jC5j2nhf15ZbBkGBbgGKQe4gB8heNQeC4Af51aU

[2022-09-17 21:56] kirchsth commented on #237
Hi @DarwinJS,

at Q1: Rel_ is the logical relationship; Lay_ is only used for the layout if the elements have nor relationship (without an arrow, practically it is an hidden arrow without a label)
at Q2: you can use Rel (default without a predefined layout hint), Rel_ and Lay_ in one diagram; If you have already a Rel() and you need a layout direction then it is better to use directly Rel_#() inst

[2022-09-19 13:02] DarwinJS commented on #237
@kirchsth - thanks for your help!

In rebuilding what I have with what you provided I may have discovered a bug.

You accidentally moved `Boundary(network, "Any Networks", "Private, Internet, etc")  {` to no longer include all other shapes.

When I moved it back to the top - everything stays stable.

HOWEVER, If I move the closing brace from enclosing the Rel_ and Lay_ commands and put it right be

[2022-09-19 13:29] DarwinJS commented on #237
Whew, when I switch from VS Code on Windows to VS Code on Mac I was back to the same problem.

The only way I can resolve it and things seem to make sense is not to have an all enclosing boundary at all - the below works on plantuml.com.

[code]

![image](https://user-images.githubusercontent.com/11597190/191028569-7fc812c1-8db2-4355-9d28-4afa9f31fa1f.png)

[2022-09-22 14:01] Potherca commented on #237
Whew. :sweat_smile:

There is a lot of useful information here! that hard part for me is: how do we document this (and where?) so that these sorts of scenarios are easily explained and usable for others? :thinking:

[2022-09-22 16:33] DarwinJS commented on #237
@Potherca - by a pull request of course 😄 : https://github.com/plantuml-stdlib/C4-PlantUML/pull/239

[2022-09-23 08:15] tfc opened #240 "-DRELATIVE_INCLUDE does not work (as expected)"
Hi,

i packaged a version of plantuml with the totally awesome C4 library in nixpkgs, so you can run `nix-shell -p plantuml-c4` and then within that shell just run `plantuml-c4 my-c4-diagram.uml` without further setup, but also offline and reproducibly.

While doing so i experienced that setting `-DRELATIVE_INCLUDE` does not work at all: https://github.com/NixOS/nixpkgs/pull/192483/files#diff-9de1

[2022-09-25 16:22] Potherca commented on #240
I think the README might be wrong. If I remember correctly, system variables need to be passed _before_ the JAR is called (otherwise they are passed as parameter to the jar file).

That means the correct form would be :

[code]

[2022-09-25 17:03] #237 closed

[2022-09-25 17:05] #85 closed

[2022-09-25 18:54] kirchsth commented on #240
@Potherca: I think the readme is correct (e.g. it is used in the build pipeline with the percy/cli with the args: `-v percy -o _parsed -DRELATIVE_INCLUDE="."` ). I assume its a nix related problem, but I didn't analyze it)

[2022-09-25 19:06] tfc commented on #240
i just tried it to confirm, but it does not work. It is very unlikely that this is a nix-related problem, as what i wrote there is just a bash wrapper that calls a normal JRE and a normal JAR.
Trying the same list and order of arguments in the shell manually yields the same results.

@kirchsth the example you mentioned uses it with a local path like `"."` which i would assume to be a trivially wor

[2022-09-26 09:48] Potherca commented on #240
Looks like the order is important (at least on Linux):
<table>
<tr><td>

[code]

</td><td>

[code]

</td></tr></table>

[2022-09-26 10:16] kirchsth commented on #240
I checked the java help and PlantUML docu

`java --help`
[code]

[plantuml ](https://plantuml.com/command-line)
[code]

Maybe there are some dependencies that it has to be defined via a java setting

[2022-09-26 11:07] tfc commented on #240
Looking at the code of the lib files:

[code]

it looks like the variable `RELATIVE_INCLUDE` by itself alone was never meant to make includes work like this: `!include C4_Container.puml`.
Otherwise they would be included like this, right?

If that is correct, then the readme should at least mention `-Dplantuml.include.path="..."`

[2022-09-26 11:19] tfc commented on #240
I just realized that i might have mis-interpreted the readme in general.

This seems to mean that you're generally supposed to put the C4-files into the *root* and then use `-DRELATIVE_INCLUDE="."` with no other path than `"."`.

What i have built - including a completely different non-root-path - seems to be a not-yet supported scenario (nonetheless, it works great), may that be the case?

[2022-09-26 11:29] Potherca commented on #240
The testcase I have created might clarify things a but further.

[code]
| Call | Result |
| --- | --- |
| `java -DRELATIVE_INCLUDE="." -jar plantuml.jar test.puml` | ![image](https://user-images.githubusercontent.com/195757/192265474-78f318df-19b1-4819-b6fe-11566fa14023.png) |
| `java -jar plantuml.jar test.puml -DRELATIVE_INCLUDE="."` | ![image](https://user-images.githubusercontent.com/195757/19

[2022-09-28 08:18] 569258yin opened #242 "IDEA c4_live_template not work"
The latest version of IDEA cannot work after importing the template.
![image](https://user-images.githubusercontent.com/13885222/192726533-b138d09c-0fe5-4831-accc-00997bb86871.png)

![image](https://user-images.githubusercontent.com/13885222/192726586-8a4a0afd-b6ec-40db-8827-cd6063964bbc.png)

idea version: IntelliJ IDEA 2021.3.2 (Ultimate Edition) Build #IU-213.6777.52, built on January 28, 2022

[2022-09-29 12:50] Potherca commented on #242
This was noted elsewhere as well:

_Originally posted by @H3llK33p3r in https://github.com/plantuml-stdlib/C4-PlantUML/issues/63#issuecomment-1173606595_

_Copy/Pasting my response here for better visibility:_

I tried importing the live templates (zip file) and failed. After some researching, I found the source for the failure in my setup.

According to the [Jetbrains documentation about sharing

[2022-10-06 13:43] H3llK33p3r commented on #63
Hi, I'm also sorry for my slow response. When I saw your answer I checked and it cannot work for me (I'm also using a git sync settings).

Because at this time I don't need to work on schema, I delay the checking of why it's not working. Your information was great because like you, it seems the templates directory is not check and my configure are stored into :

`...AppData\Roaming\JetBrains\Intel

[2022-10-06 19:58] Potherca commented on #63
Thank you for the update, good to hear things are working for you again! :+1:

[2022-10-07 20:00] miller79 commented on #229
I have a question on this as well because I think the issue isnt' necessarily where the boxes are but how the arrows are drawn.  In the system example, I'm not sure why it would try to draw the arrow to the right vs just connecting to the left box.  This behavior seems to be only with boundaries but would be interested if there is work arounds outside of just playing with locations.

[2022-10-09 04:25] #230 closed

[2022-10-09 12:57] Potherca commented on #229
Recently, work has been done on [LayoutOptions.md](https://github.com/plantuml-stdlib/C4-PlantUML/blob/master/LayoutOptions.md) to try and explain things further and give guidance on how to deal with quirks like these.

@miller79 It might be of use to you to have a look at [LayoutOptions.md](https://github.com/plantuml-stdlib/C4-PlantUML/blob/master/LayoutOptions.md).

[2022-10-19 15:27] dgutson opened #244 "Please add the Robot shape"
Please allow the Person() macro to specify the shape.

[2022-10-20 09:06] Potherca commented on #244
Hi! I assume with "Robot" you mean an automated system that represents the User?

The reason for asking is that, looking at the C4 documentation, I can not find mention of the Robot _shape_.

It is currently already possible to change the _sprite_ for a user, using a parameter `$sprite="{name-of-sprite}"`:

[code]

![](https://www.plantuml.com/plantuml/png/bKzRIyCm57xlhuZ3XmviApfV165Z6ohKRUo2-3JIz

[2022-10-20 09:55] manonmichel opened #245 "Themes for C4-PlantUML"
I would like to create a PlantUML theme for my C4 model in order to have a seperate file for my design choices and for my diagrams (and also avoid repeating the styling at the beginning of each file). However I can't wrap my head around how styling works for C4-PlantUML.

From [this comment](https://github.com/plantuml-stdlib/C4-PlantUML/issues/227#issuecomment-1210359769) I gather that we can als

[2022-10-20 12:12] Potherca commented on #245
Hi! To answer your questions (somewhat out of order):

Not really. There is some information scattered here and there in various tickets, but it has not been consolidated into a single source yet.

I think the main thing to realize is that there is a difference between plain `skinparam` entries and using a theme.

Skinparams can be placed in the main diagram or a separate file which is then `!incl

[2022-10-20 15:23] dgutson commented on #244
Yes, for example a user of an API, or automation.

Oh yes there it is: https://github.com/structurizr/dsl/blob/master/docs/language-reference.md#element-style
check the Robot shape.

I actually did that, imported the sprite, etc. But it would be much simpler if I could just name the sprite "robot" in the same sense I can with "person" and "person2".

[2022-10-20 19:44] kirchsth commented on #245
Hi @manonmichel,

instead of themes you can define the default and tag styles via the `UpdateElementStyle()`, `UpdateRelStyle()`, `AddElementTag()`, `AddRelTag()` ... calls.
This has the advantage a) that the legend text is updated too and b) you can ignore some PlantUML specific internals.

And if you combine all style/tag related calls in a separate file than you can include it and use it like a

[2022-10-21 08:09] simonbrowndotje commented on #244
Correct. A point many people miss is that C4 model does not prescribe any notation in terms of colours, shapes, etc. From https://c4model.com/#Notation

<img width="1167" alt="Screenshot 2022-10-21 at 09 02 15" src="https://user-images.githubusercontent.com/1009874/197145272-828b20db-07ae-4ff0-b3e1-2eaf418e4484.png">

check the Robot shape.

The robot shape you're referring to is from the Structur

[2022-10-21 09:40] Potherca commented on #244
@simonbrowndotje Thank you for chiming in!

Adding other shapes was discussed in more detail in #145. As Simon mentioned, C4 model != Structurizr.
We do not want to make this project a copy of Structuriz or add (too many) new shapes, otherwise we would have to make a very generic implementation and we lose the C4 relation and create a new "Meta" notation.

There is also the problem that there is n

[2022-10-21 15:34] dgutson commented on #244
@Potherca ok I understand.

I solved this with this snippet:
[code]

Excuse my ignorance: what's the difference with your code above? Of course, in functional terms. What misses my implementation?

[2022-10-22 12:39] Potherca commented on #244
That depends mostly on how much of the underlying functionality you use.

My example includes rudimentary support for a `Robot` and `Robot_Ext` method, so this can be done:

[code]
as well as various configuration options.

[2022-10-22 12:53] kirchsth opened #247 "Colors have to be defined in UpdateElementStyle() too, otherwise error in dynamic legend"
If an `UpdateElementStyle()` call does not define all colors, then the missing colors are shown in the legend as `no ... color`.

[code]
![](https://www.plantuml.com/plantuml/png/9SonQeSm4CVnFKzXfOD_KBDqAXG4A-rWMq6aeqHprK1o2PSBfMzVqsx7v_XzkyYAE3ahxWpkDcaeJkOG7wKazTqUXi-qfGYqUsH0RdVlPB0AywQ9hAtPPF_GJ9cMjr4w5HdeehNtoCeWK1joNon1AuR1WWFacNyiL04eUgoB-o-Ft7lhwQay203Bcn3JtxCATL7-dnddru_FTHnUXlVdwYOwG7srV

[2022-10-22 15:15] kirchsth commented on #244
Hi @dgutson and @Potherca,

we could add the 2 robot sprites like the person sprites that it can be used like e.g. (external) systems/components.

[code]
![](https://www.plantuml.com/plantuml/png/xTP1RzCm50VmUpv5g7P8fRKPm-kU44DBJGg70HCCSK2eSXlJHahio7Qq8CHtnqxeN69JvOAGfZxrKFcztpzEgrYvbee8LPT5y2HdwwBEQBXLgfBFurYG--acLzjwLKigrfmfojHqpSkuAWWpPY9LLkIh6AF9hLdwzFOcBebKLEYb9JQYKTFAfDlu5wgkI2QUnTzqVqBkgUGb

[2022-10-22 16:30] kirchsth commented on #244
I changed the "robot" sprite, maybe it looks better

[code]

![](https://www.plantuml.com/plantuml/png/xTXFRzCm503mUpw5gIRHIkkoT6xZ88QMk2aS1ammn06XoMjC6ob_eiJHEY6-Et7SBLdicbO845NVgR7zUyzouiJgHS58pieuCfw5oJmg0mgMZ6N52zFCoTt98cJByhOiQ3vF4qOJTZ9FOpEBICBDi6115DwQ60wlUDEdjvTcJ0f6ywhf1dEnOYSPpzwaVydAZ0JvcVcjwX-IErgaCHsEpJozJSNWLuPHP7d8A3Yg6y4NY5OGcTRaA_XkdEuO1x07OEpDLE4xbXguiqtXdwc0FTiSlgK0CrqW6K0jm38OQ

[2022-10-22 18:11] Potherca commented on #244
Looks good to me. :+1:

[2022-10-22 18:33] Potherca opened #248 "Release v2.5.0 :tada:"
As there have been many improvements and changes since the last release, it is time for a new release!

**Full Changelog**: https://github.com/plantuml-stdlib/C4-PlantUML/compare/v2.4.0...HEAD

This issue is a placeholder for all tasks that need to be completed to release a new version (2.5.0):

- [x] Resolve all open issues related to [the v2.5.0 milestone](https://github.com/plantuml-stdlib/C4-P

[2022-10-22 18:34] Potherca commented on #248
@kirchsth Which issues / MRs should we wait on before drafting a new release?

[2022-10-22 20:15] kirchsth commented on #245
Hi @manonmichel,

the "Custom schema definition" section in [README.md](https://github.com/plantuml-stdlib/C4-PlantUML/#readme) could be the better sample

Instead of a themes file you could define a `MyDesign.puml`

[code]

and include it in the diagram

[code]

![](https://www.plantuml.com/plantuml/png/dP9lZvf04CRVyoauwWjDJaN4apGnkSEIzX9EB_v9-uuiC2gvPI6xGyxxzbrSMlQgrpR6D_ARUMQUP-1U8E5OvTIuoLX2gn

[2022-10-22 23:10] kirchsth commented on #238
Hi @rodverap,

was it useful for you? Can we close the issue?

BR Helmut

[2022-10-22 23:42] kirchsth commented on #248
A new release is a good idea.
Can you give me 2 weekends?
I would try to fix  #232, #235 and #247 too (but I'm not sure if I have time next weekend)
BR Helmut

[2022-10-23 10:09] Potherca commented on #245
@kirchsth We really need to get this into a single documentation section somewhere. (Probably together with #221)

[2022-10-23 10:14] Potherca commented on #248
I would suggest we do not make the scope _time_ based but _function_ based.

Take the time you need, and once #232, #235 #247 we'll roll out a release.

[2022-10-23 10:44] kirchsth commented on #245
With the TOC level 3 PR, we could extend the header [Custom schema definition](https://github.com/kirchsth/C4-PlantUML/blob/extended/README.md#custom-schema-definition)
to something like `Custom schema definition -  themes "support" in C4-PlantUML`
and add the my last issue comment to the readme section (until we have #221)

[2022-10-23 10:47] #244 closed

[2022-10-23 12:25] dgutson commented on #244
@Potherca @kirchsth you guys rock!

[2022-10-23 19:23] #247 closed

[2022-10-23 19:28] Potherca commented on #232
Regarding

and

Currently, I am oscilating between "shapeDescription" and "legendVerbosity" or something like that.

[2022-10-23 19:31] Potherca commented on #242
@569258yin Could you verify if my suggestion fixes your issue? If so, would like to close this issue.

[2022-10-23 19:40] Potherca commented on #233
@pascalbrunner: did @kirchsth's commnet resolve your issue? If so, I would like to clode this issue.

[2022-10-23 19:58] kirchsth commented on #232
* I wouldn't use verbosity because normal and small displays the same information.
We could call it "(legend)Layout" or something like this.

* I don't like the current no color implementation too;
  1. text is long and not 100% clear
  2. the used colors
  but I have no better idea atm
  ![](https://www.plantuml.com/plantuml/png/FOn1IuT044VlVWfRElW7TI-TWi0mgOELKD5HHdVIXTrnsPab-lQj19rcUFpUwrWWIlAk

[2022-10-23 20:16] kirchsth commented on #240
HI @tfc,

Your assumption is correct (I used it atm only for the build pipeline) therefore I tried a fix with PR #252.
Can you please check it?
Thank you and best regards
Helmut

[2022-10-23 21:26] tfc commented on #240
hi @kirchsth,

thank you for providing a patch. I tried it out by bumping to the latest commit of the branch you linked to and removing the C4 path from the additional `-Dplantuml.include.path=...` that the JAR had to be prefixed with (my understanding is that this should no longer be necessary).
That unfortunately doesn't work, with the same error message as earlier.
It does however also not brea

[2022-10-24 07:59] kirchsth commented on #240
hi @tfc,

did you test it only with the "nix calls"?
Or did you tried it with the "java calls" from PR?

[2022-10-24 20:35] tfc commented on #240
Hi @kirchsth,

the "nix calls" are simple java calls. What the nix package does is wrap the equivalent of the "java calls", which can be easily proofed with `strace`.

Running the integration test of the package (with your latest patches) with the c4 folder in the `-Dplantuml.include.path` *and* `-DRELATIVE_INCLUDE` yields the correct working result:

(i shortened it down to the relevant parts and

[2022-10-25 07:26] kirchsth commented on #240
Hi @tfc,
can you add your used sample.puml too?
(I see "C4_Context Diagram Sample - enterprise.puml" in the nix source , but contains only an url based include)

[2022-10-25 07:34] tfc commented on #240
hi @kirchsth

You're right, it copies the [`C4_Context Diagram Sample - enterprise.puml` from the samples folder of the C4 plantuml repo](https://github.com/NixOS/nixpkgs/blob/master/pkgs/tools/misc/plantuml/plantuml-c4.nix#L59). It not only copies the example file but drops the https... prefix so that the filepath is without slashes and just the filename of the to-be-included file. In this case t

[2022-10-25 08:28] Potherca commented on #232
I think "legendLayout" is a good description. Lets go with that.

Skipping pictograms sounds like a good plan. Only having "none", "normal" and "small" is good enough.

As to "no-color", I have no clear solution. I guess an unsatisfactory solution is still better than no solution. :shrug:

[2022-10-25 21:29] kirchsth commented on #240
Hi @tcf,

ok ... now I see the differences in your first statement
(`-Dplantuml.include.path` != `-DRELATIVE_INCLUDE`; and you didn't duplicate it in the command line arguments)

1) You want to define an additional (absolute) include path via `-Dplantuml.include.path`
(I found the related description [search path](https://plantuml.com/preprocessing#4d03410776ebc180)\)
and `-DRELATIVE_INCLUDE` is o

[2022-10-26 08:10] Potherca commented on #240
@kirchsth I think at this point, it might be worth taking a step back and writing out what the scenarios are that we want to support and what the goal of each scenarios is. For me, at least, there are currently too many moving parts to feel confident with any suggestion I could make.

[2022-10-26 18:51] kirchsth commented on #240
@Potherca ok I decouple the PR from the issue and merge the PR fix.

[2022-10-31 03:37] rodverap commented on #238
Yes this is helpfull Thank you a lot

[2022-10-31 10:23] #238 closed

[2022-11-04 09:36] Potherca opened #255 "Linebreak in $label breaks font relationship styling"
When a newline/linebreak is present in the `$label` of a relationship, the styling breaks.

[code]

![](https://www.plantuml.com/plantuml/png/LSwn2i8m483XFKzHErcmYPPEJjKwAeZW9aYQ11j8hoMvwEjx6PHsktpaFwu9A3t6mR6L1UMYDbcFE8Mz45v--CjY7xiOZ5SZe07aQXp4v2IafWoedUr4MvVNHFVBMRmhNlCjqREbGbemdazfF_k_rtAJvOUyc4b7Sbo88caNeabE98pTZ4ixKaIZH3l2BYyIfqpF-G6_iQ8VZG5Djtm1)

The user _can_ remedie this by adding the "

[2022-11-04 09:50] kirchsth commented on #255
For $techn and $descr we have already a function like $breakDescr($descr, $REL_DESCR_MAX_CHAR_WIDTH) which supports explicit \n too.
We could add similar for labels too
BR Helmut
PS: I wouldn't see it as a bug, its more  a feature request

[2022-11-05 22:07] kirchsth commented on #248
Should we add status badges to the README.md too?
I could create a PR for it from [my branch](https://github.com/kirchsth/C4-PlantUML/tree/feature/status_badge).

[2022-11-06 10:25] Potherca commented on #232
@kirchsth Do you want this to be part of v2.5 or should we bump it to v2.6?

[2022-11-06 10:39] Potherca commented on #248
Adding badges is okay but I wouldn't add too many. Also, based on experience from maintaining other projects, I'd use link refernces rather than inline links:

[![release][Release Badge]][Release Page] [![license MIT][License Badge]][License Page] [![build result][Tests Badge]][Tests Page]

[License Badge]: https://img.shields.io/github/license/plantuml-stdlib/C4-PlantUML
[License Page]: https://g

[2022-11-07 13:58] dgutson opened #258 "Question: stereotypes automatically showing up when hiding legend"
This comes from https://github.com/structurizr/export/issues/29 specifically https://github.com/structurizr/export/issues/29#issuecomment-1305643465

Could you please confirm that the stereotypes are shown when not calling `SHOW_LEGEND()`, thus having to call `HIDE_STEREOTYPE()` ?
This is my understanding from https://github.com/plantuml-stdlib/C4-PlantUML/blob/master/LayoutOptions.md#hide_stereot

[2022-11-07 15:59] kirchsth commented on #258
if you mean

[code]

[2022-11-07 16:40] dgutson commented on #258
Thanks!

[2022-11-07 16:40] #258 closed

[2022-11-07 16:41] dgutson commented on #258
CC @simonbrowndotje

[2022-11-07 17:42] kirchsth commented on #232
please wait

[2022-11-09 06:38] #234 closed

[2022-11-10 20:40] kirchsth commented on #255
@Potherca: I have extended it that all `$labels` and missing `$techn` args supports line breaks too (I think now we cover all with \n).

It can be tested with [my extended branch](https://github.com/kirchsth/C4-PlantUML/tree/extended)

[code]

![](https://www.plantuml.com/plantuml/png/jLHHRzem47xFhxX6gnRK0YhQqwHMRO5jI8nLNRk-825ZNy72iIFRWQ9f_ttd14Y4AbHHzGdik_k--ox-xjfvPdsUgkWpSAENQ3r83olfvy24a5uQpH

[2022-11-12 17:12] #233 closed

[2022-11-12 18:59] kirchsth commented on #236
Hi @DarwinJS,
did it help? Can we close it?
BR Helmut

[2022-11-12 19:07] kirchsth commented on #245
If the new documentation is written we could also add "how to define a new Element" (maybe in context of a more generic tags based T4-Model)
(the topic was discussed in https://github.com/plantuml-stdlib/C4-PlantUML/issues/244#issuecomment-1286713145 but there is a simpler solution for it)

eg. if a new robot system should be defined then it can be done like this. I think it should support all sce

[2022-11-12 19:19] kirchsth commented on #248
Hi @Potherca

- I finished #259 and #260, please review it
- Can you check my #255 solution, If it is OK i can create a PR for it
- related to update of the copyright year in the license file, maybe you can add all c4-plantuml-maintainers as authors too

BR Helmut

[2022-11-14 20:09] Potherca commented on #255
Great! This makes things more consistent and predictable, I think. Good stuff!

I like! Push that PR! 👍

I think this breaks down into either telling the user how to use the tool or listing to the user how the tool is used.
For the sake of consistency, I think for this scenario we should use the "listen to the user" approach. Although I do very much appreciate the critical note. We do need to stay

[2022-11-14 20:10] Potherca commented on #248
Reviewed and commented. 👍

[2022-11-14 20:31] #232 closed

[2022-11-14 21:17] kirchsth commented on #255
Ok, I created the PR

[2022-11-15 15:09] stocksund opened #263 "Plantuml syntax error"
hey peeps,
i get a syntax error every time i use a component. Does anyone have an idea what this could be. Thanks a lot.
Kind regards Stocksund
![image](https://user-images.githubusercontent.com/52630389/201954245-ce150a49-bfc7-4de2-b4af-9a0e4e924e75.png)

[2022-11-15 15:18] kirchsth commented on #263
Can you add  the source?

[2022-11-15 15:23] stocksund commented on #263
Sure
![image](https://user-images.githubusercontent.com/52630389/201957702-a0e1dfbe-5ec1-4582-9f2a-9a4c3622f107.png)

[2022-11-15 15:24] #236 closed

[2022-11-15 15:24] stocksund commented on #263
!includeurl https://raw.githubusercontent.com/plantuml-stdlib/C4-PlantUML/master/C4_Container.puml

LAYOUT_WITH_LEGEND()
ContainerDb(data, "Database", "Database", "measurement data are stored")
Container(single, "Single-Page-Application", "Javascript and Vue.js", "Provides users with all possible functions for analyzing the IT infrastructure via a web browser")
Container_Boundary(api, "API-Applica

[2022-11-15 15:31] stocksund commented on #263
Oh boy, thank you so much, this was my salvation

[2022-11-15 15:36] kirchsth commented on #263
You are welcome
Helmut

[2022-11-15 15:36] #263 closed

[2022-11-15 16:48] dgutson commented on #255
@kirchsth 🥇

[2022-11-19 14:30] chriskn opened #265 "SHOW_PERSON_OUTLINE renders external Person as internal"
The following diagram:
[code]

is rendered as expected:
![grafik](https://user-images.githubusercontent.com/1077869/202855490-daf8eff9-d818-40b5-8c31-84a40742d50e.png)

With the SHOW_PERSON_OUTLINE option:
[code]

External Person is rendered as internal, while the legend still contains `external_person`:
![grafik](https://user-images.githubusercontent.com/1077869/202855621-b580a1c8-b9b5-477b-99a0-

[2022-11-19 21:30] kirchsth commented on #265
@chriskn:

 **which PlantUML version are you using?**
I tried it in with the current  PlantUML web server and cannot reproduce the problem.
(I extended it after my first test with the C4Version() and %version() that the C4 and PlantUML are displayed too)

[code]

![](https://www.plantuml.com/plantuml/png/LOvHIuKm68RlzolMWM32EUx6Y-ZAi561gMJMvPWwSZ0tsRwLFp-7nS6xP--Ub_VBFGW7OTReHfb1Xr46f_44iFXxIftuIR

[2022-11-20 10:31] chriskn commented on #265
Hi @kirchsth

[code]

![grafik](https://user-images.githubusercontent.com/1077869/202897103-6ad10333-dee8-4d4a-a5cd-540764220b46.png)

[2022-11-20 10:38] kirchsth commented on #265
Can you try it with the PlantUML deployed C4-stdlib?

[code]

[2022-11-20 10:42] chriskn commented on #265
That one works as expected:
![grafik](https://user-images.githubusercontent.com/1077869/202897657-401059ca-5af5-4ee7-a992-fbf1b0c126f9.png)

I wasn't aware of this include url schema. Are these includes something like the "stable" versions?

[2022-11-20 11:52] kirchsth commented on #248
@Potherca  Related to the possible tasks, can you add following, that a user can use a concrete released version?

[] the include paths should be updated too.

E.g. I want to check/use the 2.4.0 release via
https://raw.githubusercontent.com/plantuml-stdlib/C4-PlantUML/v2.4.0/C4_Component.puml
and the file still references .../master/... instead of .../v2.4.0/...

[code]

[2022-11-20 13:53] kirchsth commented on #265
As soon we have a new release we export it to the PlantUML-stdlibs too that it can be used without any additional includes ...

**related to the different outputs**
I found problems with other diagrams too, e.g. in following sample the color of the person label should be yellow(==background) and not green (the Person_Ext has the correct gold color)

[code]

correct via PLantUML web server
![](http

[2022-11-20 14:43] kirchsth commented on #265
I found the problem: "PlantUML integration for IntelliJ" uses an too old plantuml.jar version. If they update to the last plantuml.jar version it should work again.

**Details:**

If an older plantuml version is used (I checked it with plantuml.1.2022.2)
[code]
overwrites the actor specific skinparam too
[code]
which should not be the case (and it is fixed in the meantime)

it can be tested with f

[2022-11-20 16:21] kirchsth commented on #265
@chriskn can you please test my added workaround #266?

[2022-11-21 10:34] Potherca commented on #265
It might be worth noting that the IntelliJ plugin for PlantUML has an option to use a local plantuml.jar (instead of the bundled one).

[2022-11-21 11:03] Potherca commented on #248
Goog point! Added.

[2022-11-26 21:51] #265 closed

[2022-11-27 09:35] kirchsth commented on #248
@Potherca do you have time for the release?

[2022-11-27 20:40] kirchsth commented on #207
@huornlmj: I cannot reproduce the problem.
Did you solve the problem in the meantime?
Was it a problem with the wrong active language?